* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.bigBox {
	width: 250px;
	height: 400px;
	margin: 30px;
	border-radius: 10px;
	border: 5px solid rebeccapurple;
	background: rgba(42, 178, 196, 0.5);
	position: relative;
}

textarea {
	display: block;
	width: 220px;
	height: 120px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
	resize: none;
	margin: 10px auto;
	border-radius: 10px;
	border: 5px solid red;
	background: whitesmoke;
}

.len {
	width: 100px;
	height: 30px;
	position: absolute;
	left: 130px;
	top: 100px;
}

.len::before {
	content: 'Length = ';
}
.options {
	width: 90%;
	height: 220px;
	margin: 30px auto;
	position: relative;
}

.options div {
	display: flex;
	align-items: center;
	font-weight: bold;
}
.roller {
	width: 200px;
	height: 15px;
	margin: 0 auto;
	border-radius: 10px;
	background: purple;
}

.cover {
	width: 0%;
	height: inherit;
	border-radius: inherit;
	background: rgb(245, 15, 103);
	position: relative;
}

.cover::after {
	content: '';
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: rgb(241, 132, 7);
	position: absolute;
	right: -12.5px;
}

.cover:hover {
	cursor: pointer;
}

input {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.hasNumber {
	margin-top: 30px;
	margin-left: 20px;
}

.hasUpperCase,
.hasLowerCase,
.hasSymbol {
	margin-top: 20px;
	margin-left: 20px;
}

button {
	width: 50px;
	height: 30px;
	font-size: 15px;
	text-align: center;
	line-height: 28px;
	font-weight: bold;
	border-radius: 20px;
	border: 2px solid rebeccapurple;
	background: rgb(157, 255, 0);
	color: rgba(42, 178, 196);
	position: absolute;
	bottom: 20px;
	right: 20px;
	cursor: pointer;
}

button:active {
	background: rgba(42, 178, 196);
	color: rgb(157, 255, 0);
}
