* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 100px;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
	color: white;
	background-color: crimson;
}

.banner {
	width: 100%;
	height: 80px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 80px;
	color: white;
	background-color: darkorange;
}

nav {
	display: none;
	position: fixed;
	top: 20%;
	left: 2%;
	width: 5%;
	height: 300px;
}

nav li {
	width: 100%;
	height: 30px;
	margin: 10px 0;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	border-radius: 12px;
	cursor: pointer;
	list-style: none;
	color: white;
	background-color: crimson;
}

.cover {
	display: none;
	width: 100%;
	height: 100%;
}

nav li:hover .cover {
	display: block;
	border-radius: 10px;
	background-color: skyblue;
}

nav li:hover .before {
	display: none;
}

.article {
	width: 100%;
	height: 450px;
	font-size: 50px;
	text-align: center;
	font-weight: bold;
	line-height: 450px;
	color: white;
}

.box {
	width: 80%;
	height: 500px;
	margin: 20px auto 0 auto;
	background-color: lightcoral;
}

.title {
	width: 100%;
	height: 50px;
	font-size: 24px;
	text-indent: 1em;
	font-weight: bold;
	line-height: 50px;
	color: white;
	background-color: deeppink;
}

footer {
	width: 100%;
	height: 500px;
	margin: 20px auto;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	line-height: 500px;
	color: white;
	background-color: palevioletred;
}

.tip {
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 60px;
	height: 60px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	line-height: 55px;
	border-radius: 50%;
	cursor: pointer;
	color: white;
	background-color: aqua;
}
